@model ShieldRPG.Models.CenterLabRequest

@{
    ViewData["Title"] = "Ошибка";
}

<!DOCTYPE html>

<div class="row">
    <h1>Нет доступа.</h1>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
