@model ShieldRPG.Models.MedcartRequest

@{
    ViewData["Title"] = "Мед. карта";
    Layout = null;
}

<div class="row">
    <div class="col-md-9">
        <form asp-action="MedcartRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedcartCode" class="control-label"></label>
                <input asp-for="MedcartCode" class="form-control" />
                <span asp-validation-for="MedcartCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запрос" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
