@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul class="lab-tests">
    <li>
        <p class="align-content-start">
            <a onclick="showInPopup('@Url.Action("ProcessRequest", "Main", new { requestType = "DnaTest" }, Context.Request.Scheme)', 'Анализ ДНК')"
               class="btn btn-success">Анализ ДНК</a>
        </p>
    </li>
    <li>
        <p class="align-content-start">
            <a onclick="showInPopup('@Url.Action("ProcessRequest", "Main", new { requestType = "ToxinsTest" }, Context.Request.Scheme)', 'Анализ образца (крови/костного мозга) на токсины, тяж. металлы, отравляющие вещества')"
               class="btn btn-success">Анализ на токсины</a>
        </p>
    </li>
    <li>
        <p class="align-content-start">
            <a onclick="showInPopup('@Url.Action("ProcessRequest", "Main", new { requestType = "InfectTest" }, Context.Request.Scheme)','Анализ образца (крови/костного мозга) на наличие вирусов/инфекций')"
               class="btn btn-success">Анализ на наличие инфекций</a>
        </p>
    </li>
    <li>
        <p class="align-content-start">
            <a onclick="showInPopup('@Url.Action("ProcessRequest", "Main", new { requestType = "MrtTest" }, Context.Request.Scheme)', 'Рентген тела')"
               class="btn btn-success">Рентген тела</a>
        </p>
    </li>
</ul>