@model ShieldRPG.Models.MrtRequest

@{
    ViewData["Title"] = "Мрт, КТ, Рентген тела";
    Layout = null;
}

<!DOCTYPE html>

<div class="row">
    <div class="col-md-9">
        <form asp-action="MrtRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MrtCode" class="control-label"></label>
                <input asp-for="MrtCode" class="form-control" />
                <span asp-validation-for="MrtCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запрос" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
