@model ShieldRPG.Models.TestResponse

@{
}

<!DOCTYPE html>

<div>
    <div class="header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponseText)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="MedLab">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}