@model ShieldRPG.Models.ScienceRequest

@{
    ViewData["Title"] = "Операции";
    Layout = null;
}

<!DOCTYPE html>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ScienceRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScienceCode" class="control-label"></label>
                <input asp-for="ScienceCode" class="form-control" />
                <span asp-validation-for="ScienceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запрос" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
