@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Fallout Terminal-Hacking</title>
    </head>
    <body>
        <link rel="stylesheet" href="~/css/terminal.css" />
        <div id="terminal-background">
            <img id="terminal-background-off" src="~/img/monitorborder-off.png" />
        </div>
        <div id="terminal">
        </div>
        <div id="powerbutton" onclick="TogglePower()"></div>
        <div id="otheraudiostuff">
            <audio id="poweron" src="~/sound/poweron.ogg"></audio>
            <audio id="poweroff" src="~/sound/poweroff.ogg"></audio>
            <audio id="passbad" src="~/sound/passbad.ogg"></audio>
            <audio id="passgood" src="~/sound/passgood.ogg"></audio>
        </div>
        <div id="audiostuff">
            <audio id="enter" src="~/sound/kenter.ogg"></audio>
            <audio id="k1" src="~/sound/k1.ogg"></audio>
            <audio id="k2" src="~/sound/k2.ogg"></audio>
            <audio id="k3" src="~/sound/k3.ogg"></audio>
            <audio id="k4" src="~/sound/k4.ogg"></audio>
            <audio id="k5" src="~/sound/k5.ogg"></audio>
            <audio id="k6" src="~/sound/k6.ogg"></audio>
            <audio id="k7" src="~/sound/k7.ogg"></audio>
            <audio id="k8" src="~/sound/k8.ogg"></audio>
            <audio id="k9" src="~/sound/k9.ogg"></audio>
            <audio id="k10" src="~/sound/k10.ogg"></audio>
        </div>
        <script src="~/lib/three/dist/three.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/terminal.js" asp-append-version="true"></script>
    </body>
</html>